{% extends 'main/base.html' %}
{% block title %}Edit {{ plan.name }}{% endblock %}

{% block content %}
  <h1>Edit {{ plan.name }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Meal</th>
          <th scope="col">Description</th>
          <th scope="col">Delete?</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            <td>{{ form.date }}</td>
            <td>{{ form.meal_type }}</td>
            <td>{{ form.description }}</td>
            <td>{{ form.DELETE }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="{% url 'menu:menu_dashboard' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
